<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="use_mock_hardware" default="false" />

    <xacro:include filename="robot_core.xacro" />
    <!-- <xacro:include filename="gazebo_control.xacro"/> -->
    <xacro:include filename="ros2_control.xacro" />

    <xacro:diffbot_ros2_control name="DiffBot" prefix="$(arg prefix)" use_mock_hardware="$(arg use_mock_hardware)" />
    
</robot>